@font-face {
    font-family: "Igra";
    font-style: normal;
    font-weight: 400;

    src: local("Igra"),
    url("../assets/fonts/IgraSans.otf") format("otf");
}

#intro {
  max-width: 100%;
  height: 80vh;
  background-image: linear-gradient(0deg, rgb(33, 37, 41), rgba(33, 37, 41, 0)), url("../assets/infobg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

#intro__text {
  font-size: 4.5rem;
}

body {
    font-family: "Igra sans", sans-serif;
}
