$gray-900: #1E1E1E;
$yellow: #F0E10C;
$font-weight-normal: 500;
$font-size-base: 1rem;
$input-btn-focus-color: rgba($yellow, 0) !default;
$form-select-color: rgba(255, 255, 255, 1);
$form-select-border-width: 0;
$form-check-input-checked-color: black;
$form-check-input-checked-bg-color: $yellow;