.header {
  display: flex;
  padding-right: 50px;
  padding-left: 50px;

  box-shadow: 0 5px 22px rgba(0,0,0, 0.25);

  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;

  background-color: $black;
}

.header__left {
  width: 25%;
  height: 60px;
  transform: translateY(+10%);

  font-weight: 700;
  text-align: center;
}

.logo__main {


  font-size: 36px;
  line-height: 0.9;
}

.logo__sub {
  font-size: 10px;
}

.header__right {
  width: 75%;
  display: flex;

  justify-content: flex-end;
}